[Unit]
Description=webapp nodejs Application
After=node.service

[Service]
Type=simple

Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webapp
User=ec2-user
WorkingDirectory=/home/ec2-user/webapp
ExecStart= /bin/node /home/ec2-user/webapp/index.js


Environment=DB_USER="postgres"
Environment=DB_PASSWORD= "postgressql"
Environment=DB_NAME="postgres"
Environment=DB_HOST="localhost"
Environment=PORT=3000
Environment=DB_PORT=5432


[Install]
WantedBy=multi-user.target

